@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-primary: #0a66c1;
  --color-secondary: #00ffff;
  --color-dark-800: #0d0f1a;
  --color-dark-600: #1c1f30;
  --color-white: #e6e6e6;
  --color-gray: #787c84;
  --shadow-default: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chakra Petch", sans-serif;
  color: var(--color-white);
}

/* Carrousel */
.swiper-pagination-bullet {
  background: #257272 !important;
}

.swiper-pagination-bullet-active {
  background: #00ffff !important;
}

.swiper-pagination-bullet {
  height: 16px !important;
  width: 16px !important;
}

/* Animation */
.scale-animation-hover {
  transition: transform 200ms ease-in-out;
  transform: scale(1);
  display: inline-block;
}

.scale-animation-hover:hover,
.group:hover .scale-animation-hover {
  transform: scale(1.1);
}
